<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block" color="primary" (click)="goToDashboard()" *ngIf="showContinue">
    Continue with Mobile
  </ion-button>

  <ion-card *ngIf="imagePath">
    <ion-thumbnail>
      <img [src]="imagePath" />
    </ion-thumbnail>
    <ion-card-content>
      {{ title }}
    </ion-card-content>
  </ion-card>

  <!-- 🌐 WEB URL IFRAME (THIS WAS MISSING 🔥) -->
  <iframe #webIframe [hidden]="!showweburl" class="web-frame"
    style="height: 80vh;width: 99vw;border: none;margin-left: -2vw;">
  </iframe>

  <iframe *ngIf="safeUrl" [src]="safeUrl" width="100%" height="100%" frameborder="0">
  </iframe>


  <!-- 🎥 VIDEO IFRAME (WORKING) -->
  <!-- <iframe #videoIframe *ngIf="showVideo"
    sandbox="allow-scripts allow-same-origin allow-presentation">
  </iframe>
  <button class="open-browser-btn" *ngIf="showVideo" (click)="openaudioinweb()">open in browser</button> -->

  <div *ngIf="showVideo" style="width:100%; height:100%;">
    <iframe [srcdoc]="safeHtml" style="width:100%; height:100vh; border:none;"
      sandbox="allow-scripts allow-same-origin allow-forms allow-popups allow-presentation"
      allow="autoplay; encrypted-media"></iframe>
  </div>



  <!-- 🎧 AUDIO -->
  <!-- <audio #myAudioElement controls preload="metadata" *ngIf="showAudio" style="width: 100%; margin-top: 16px;">
  </audio> -->
  <div [hidden]="!showAudio">
    <audio #myAudioElement controls>
      Your browser does not support the audio element.
    </audio>
  </div>




  <button *ngIf="showAudio" class="open-browser-btn" (click)="openaudioinweb()">open in browser</button>

</ion-content>