<ion-header>
  <ion-toolbar>

    <!-- Menu button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- Title with logo -->
    <ion-title>
      <div style="display: flex; align-items: center;">
        <img [src]="headerLogo" height="40" style="margin-right: 8px;" />
        <span style="font-weight: 600; font-size: medium; color: orangered;">
          Maharishi Ji
        </span>
      </div>
    </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content padding>

  <div class="hero">
  <img src="https://maharishiji.net/ui-design/media/k2/items/cache/Maharishi.jpg" />
  <h1>His Holiness Maharishi Mahesh Yogi Ji</h1>
</div>

<p class="content-text">
  His Holiness Maharishi Mahesh Yogi, the most dedicated disciple to Shri Guru Dev Swami Brahmanand
  Saraswati, Shankaracharya of Jyotirpeeth, Badrikashram Himalaya, is widely regarded as the
  foremost Scientist in the field of consciousness and is considered the greatest teacher in
  the world.
</p>

<p class="content-text">
  Maharishi Ji has completely revived and restored Ved and Vedic Literature, the most ancient
  traditional Art and Science of life, which is capable of guiding every individual to the path
  of Enlightenment and establish perpetual peace, prosperity, happiness for society and to create
  Heaven on Earth.
</p>

<p class="content-text">
  Millions people in all parts of the world and from all walks of life have learnt Transcendental
  Meditation and more than 500,000 people have learnt Maharishi's TM-Siddhi Programme including
  Yogic Flying.
</p>

<p class="content-text">
  Maharishi Ji has founded thousands of organisations and institutions in 110 countries to bring the
  light of Vedic wisdom throughout the world.
</p>

<p class="content-text">
  Maharishi Ji has also established the Maharishi Global Administration through Natural Law—Vishwa
  Vyapi Ramrajya to bring the nourishing support of Natural Law to every government and every
  individual on earth.
</p>


</ion-content>