:host {

  ion-toolbar {
    --background: #ffffff;
  }

  ion-title {
    padding: 0;
  }

  img {
    border-radius: 6px;
  }

  /* Paragraph content */
  .content-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
    margin-bottom: 16px;
  }

}
