<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <div style="display: inline-flex; align-items: center;">
        <img
          [src]="headerLogo"
          height="40"
          style="margin-right: 8px"
        />
        <span
          style="font-weight: 600; font-size: medium; color: orangered;"
        >
          About Us
        </span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p class="content-text">
    His Holiness Maharishi Mahesh Yogi Ji has left Himalayas and extensively travelled across
    the world for over 50 years to bring peace, prosperity, happiness, perfect health,
    perfection in every area of life and to establish heavenly life on earth. Maharishi Ji
    has gone very deep in principles of Veda and Vedic Literature, identified and brought to
    light practical Vedic technologies for immense benefits of mankind for all time to come.
  </p>

  <p class="content-text">
    Over 25,000 hours of audio and video recordings of Maharishi Ji, full of knowledge
    and practical programmes for humanity are available as largest treasury of knowledge
    for life. One of the greatest contribution and gift of Maharishi Ji to the humanity
    is "Transcendental Meditation", a simple, natural and effortless technique of Meditation,
    which is now widely practiced by over Millions of people around the world.
  </p>

  <p class="content-text">
    Maharishi Ji has put huge emphasis on Vedic approach to education, health, agriculture,
    defence, rehabilitation, administration, arts, culture, religion, architecture,
    government, law and order, science and technology, business and commerce, social welfare,
    rural development, youth and women welfare.
  </p>

  <p class="content-text">
    Maharishi Ji has written numerous books introducing the application of his Vedic Science
    to the various fields of human endeavour. As per divine wish of Maharishi Ji and
    instructions given to Brahmachari Girish Ji, Maharishi Ved Vigyan Prakashan has taken up
    to publish Vedic Literature across multiple platforms in Hindi, English and other languages.
  </p>

</ion-content>
