vedanta-calender {
 
	.monthview-container{
		height: auto!important;	
		font-size: x-small;
	  }
	  .event-detail-container
	  {
		word-wrap:break-word;
	  }
	  .event-detail
	  {
		font-size: small;
		word-wrap: normal; 
	  }
	  .monthview-eventdetail-timecolumn
	  {
		  font-size: small;
		  word-wrap: normal;
		   
	  }
  
}
